<div class="wrraper">
    
<header >
    <div class="row center-lg center-md center-xs center-sm center-ms">
        <div>
             <h1>Emploi du temps en ligne</h1>
         </div>
        
    </div>
</header>
<section>
    <div class="description">
        <div class="row center-lg center-md center-xs center-sm center-ms">
            <div>
                <p class="para">Sur cette page(basique) je vous propose une solution qui vous permet de savoir sur qui de l'appartement doit laver ou payer pour la contribution hebdomadaire qui s'élève à 2TDN.</p>
            </div>
        </div>
</div>
</section>
<section class="cadre">
 

        <div class="row center-lg center-ms center-lg center-sm center-xs">
                <div  class="col-lg-12 col-ms-12 col-sm-12 col-md-12">
                    <h3>Service nettoyage:</h3>
                   <marquee behavior="" direction=""><p>{{this.nettoyage}}</p> </marquee> 
                    <h3>Service payement:</h3>
                   <marquee behavior="" direction=""> <p>{{this.payement}}</p></marquee>
                </div>
         </div>
</section> 

<footer>
    <div class="row center-lg center-ms center-md center-sm center-xs">
        <ul>
            <li><p>Votre emploi du temps pour vous situer</p></li>
            
        </ul>
    </div>
</footer>
</div>



